*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


::-webkit-scrollbar{
    width: 0;
    height: 0;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1; 
}

header{
    height: 70px;
    background-color:#eeddd4;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#logo{
    width:200px;
    height: 200px;
    transform:translateY(-45px);
}

#HamburgerLogo{
    width: 25px;
    transform: translateX(140px) translateY(-150px);
}

#first-section{
    min-height: 700px;
    background-color: #4a7c9e;
    padding-top: 70px;
    color:#ffffff;
    padding-left: 5px;
}

#first-section h1{
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

#buttonOne{
    margin-top: 20px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    background-color: #d98f6c;
    color:#ffffff;
}

#buttonTwo{
    margin-top: 20px;
    width: 70px;
    height: 30px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    background-color: #acacac;
    opacity: 0.9;
    color: #ffffff;
}

#Wheelchair{
    width: 300px;
    margin-top: 20px;
    border-radius: 20px;
}

.Title{
    text-align: center;
    margin-top: 20px;
    color:#4a7c9e;
    font-size: 45px;
}

.para{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 5px;
}

.divider{
    width: 350px;
    height: 200px;
    background-color: #eeddd4;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.frame{
    width: 50px;
    height: 50px;
    background-color:#4a7c9e;
    border-radius: 7px;
    padding-top: 5px;
}

.DivTitle{
    color:#4a7c9e;
    margin-top: 10px;
}

.para2{
    margin-top: 10px;
}

.divider img{
    width: 40px;
    margin: auto;
    display: block;
}

#third-section{
    width: 100%;
    min-height: 1700px;
    background-color:#eeddd4;
    padding-left: 5px;
    padding-top: 50px;
    margin-top: 100px;
}

.divident{
    color:#4a7c9e;
    font-size: 50px;
}

.aligner{
    margin-top: 15px;
}

.values img{
    width: 30px;
    margin-top: 10px;
}

.values{
    display: flex;
}

.parapara{
    transform:translateY(15px) translateX(10px);
}

#com{
    width: 360px;
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

.WhiteDiv{
    width: 350px;
    height: 200px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 35px;
}

.Stat{
    text-align: center;
    font-size: 60px;
    color:#4a7c9e;
}

.divPara{
    text-align: center;
    font-size: 20px;
}

#fourth-section{
    min-height: 400px;
}

.alignment{
    text-align: center;
    margin-top: 40px;
}

.para3{
    text-align: center;
}

#Peeps{
    width: 350px;
    margin: auto;
    display: block;
    margin-top: 40px;
    border-radius: 20px;
}

.Push{
    margin-left: 20px;
    margin-top: 30px;
}

fieldset{
    background-color: #eeddd4;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 60px;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
}


input{
    width: 220px;
    height: 35px;
    border: none;
    margin-bottom: 40px;
}

textarea{
    width: 220px;
    height: 100px;
    border: none;
}

#submitBtn{
    width: 220px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #d98f6c;
    color: #ffffff;
}

footer{
    background-color: #4a7c9e;
    width: 100%;
    margin-top: 40px;
    color:#fff5f5;
    padding-left: 5px;
}
.Pgraph{
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.footerNav a{
    color:#fff5f5;
}

.footerNav li{
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}

.footerNav a:hover{
    color:#acacac;
}

#Burger{
    width: 100%;
    height: 120px;
    background-color: #fff5f5;
    transform: translateY(-140px);
    display: none;
}

.burgerLinks a{
    color:#333333;
}

.burgerLinks li{
    margin-bottom: 13px;
    margin-left: 5px;
    list-style: none;
}