*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


::-webkit-scrollbar{
    width: 0;
    height: 0;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
}

main {
  flex: 1; 
}

header{
    height: 70px;
    background-color:#eeddd4;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#logo{
    width:200px;
    height: 200px;
    transform:translateY(-45px);
}

#HamburgerLogo{
    width: 25px;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

#first-section{
    min-height: 800px;
    background-color: #4a7c9e;
    color:#ffffff;
}

#first-section h1{
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

#buttonOne{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    background-color: #d98f6c;
    color:#ffffff;
}

#buttonTwo{
    margin-top: 20px;
    width: 80px;
    height: 40px;
    font-size: 10px;
    border-radius: 10px;
    border: none;
    background-color: #acacac;
    opacity: 0.9;
    color: #ffffff;
}

#buttonOne:active{
    transform: scale(0.9);
}

#buttonTwo:active{
    transform: scale(0.9);
}

.small{
    padding-top: 70px;
    padding-left: 10px;
}

#Wheelchair{
    width: 95%;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 20px;
}

.Title{
    text-align: center;
    margin-top: 20px;
    color:#4a7c9e;
    font-size: 45px;
}

.para{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-left: 5px;
}

.divider{
    width: 350px;
    height: 200px;
    background-color: #eeddd4;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.divider:hover{
    background-color: #eeddd4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.frame{
    width: 50px;
    height: 50px;
    background-color:#4a7c9e;
    border-radius: 7px;
    padding-top: 5px;
}

.DivTitle{
    color:#4a7c9e;
    margin-top: 10px;
}

.para2{
    margin-top: 10px;
}

.divider img{
    width: 40px;
    margin: auto;
    display: block;
}

#third-section{
    width: 100%;
    min-height: 1700px;
    background-color:#eeddd4;
    padding-left: 5px;
    padding-top: 50px;
    margin-top: 100px;
}

.divident{
    color:#4a7c9e;
    font-size: 50px;
}

.aligner{
    margin-top: 15px;
}

.values img{
    width: 30px;
    margin-top: 10px;
}

.values{
    display: flex;
}

.parapara{
    transform:translateY(15px) translateX(10px);
}

#com{
    width: 360px;
    border-radius: 20px;
    margin: auto;
    display: block;
    margin-top: 20px;
}

.WhiteDiv{
    width: 350px;
    height: 200px;
    background-color: #ffffff;
    margin: auto;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 35px;
}

.Stat{
    text-align: center;
    font-size: 60px;
    color:#4a7c9e;
}

.divPara{
    text-align: center;
    font-size: 20px;
}

#fourth-section{
    min-height: 400px;
}

.alignment{
    text-align: center;
    margin-top: 40px;
}

.para3{
    text-align: center;
}

#Peeps{
    width: 98%;
    margin: auto;
    display: block;
    margin-top: 40px;
    border-radius: 20px;
}

.Push{
    margin-left: 20px;
    margin-top: 30px;
}

fieldset{
    background-color: #eeddd4;
    width: 90%;
    border-radius: 10px;
    border: none;
    margin: auto;
    margin-top: 60px;
    padding: 5px;
    font-size: 18px;
    padding-left: 10px;
}

.Form{
    display: flex;
    flex-direction: column;
}


input{
    width: 95%;
    height: 35px;
    border: none;
    margin-bottom: 40px;
}

textarea{
    width: 95%;
    height: 100px;
    border: none;
}

#submitBtn{
    margin: auto;
    width: 220px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #d98f6c;
    color: #ffffff;
}

footer{
    background-color: #4a7c9e;
    width: 100%;
    margin-top: 40px;
    color:#fff5f5;
    padding-left: 5px;
}
.Pgraph{
    margin-top: 30px;
}

a {
    text-decoration: none;
}

.footerNav a{
    color:#fff5f5;
}

.footerNav li{
    margin-top: 10px;
    margin-left: 10px;
    list-style: none;
}

.footerNav a:hover{
    color:#acacac;
}

#Burger{
    width: 100%;
    height: 120px;
    background-color: #fff5f5;
    transform: translateY(-140px);
    display: none;
}

.burgerLinks a{
    color:#333333;
}

.burgerLinks a:hover{
    color: #acacac;
}

.burgerLinks li{
    margin-bottom: 13px;
    margin-left: 5px;
    list-style: none;
}


@media(min-width: 601px ){
    #Wheelchair{
    width: 60%;
    margin: auto;
    display: block;
    margin-top: 20px;
    border-radius: 20px;
    }
    .divider{
    width: 60%;
    height: 200px;
    background-color: #eeddd4;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
}

@media (min-width: 768px) {
    #HamburgerLogo{
        display: none;
        gap: 80px;
    }

    .large{
        display: flex;
        justify-content: center;
        gap: 60px;
    }

    .small{
        width: 600px;
    }
    
    #Wheelchair{
        width: 500px;
    }
    #first-section{
    min-height: 700px;
    background-color: #4a7c9e;
    padding-top: 70px;
    color:#ffffff;
    padding-left: 5px;
}

#Burger{
    width: 0%;
    height: 0;
    transform: translateY(-140px);
    display: flex;
    position: absolute;
    right: 30%;
    top: 30%;
    transform: translateY(-20%);
}

.burgerLinks a{
    color:#333333;
}

.burgerLinks a:hover{
    color: #acacac;
}

.burgerLinks {
    display: flex;
    list-style: none;
    gap: 5%;
}.values img{
    width: 35px;
    margin-top: 10px;
}


}

@media (min-width: 1024px){
  #Burger{
    width: 0%;
    height: 0;
    transform: translateY(-140px);
    display: flex;
    position: absolute;
    right: 25%;
    top: 30%;
    transform: translateY(-20%);
}

.burgerLinks a{
    color:#333333;
}

.burgerLinks a:hover{
    color: #acacac;
}

.burgerLinks {
    display: flex;
    list-style: none;
    gap: 10%;
}  

.divider{
    width: 350px;
    height: 200px;
    background-color: #eeddd4;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.divv{
    display: flex;
}

#com{
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    order: 1;
}

.aboutdiv{
    order: 2;
}

#third-section{
    width: 100%;
    min-height: 900px;
    background-color:#eeddd4;
}
.divv2{
    display: flex;
    justify-content: center;
    gap: 60px;;
}

#Peeps{
    width: 40%;
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

fieldset{
    background-color: #eeddd4;
    width: 500px;
    border-radius: 10px;
    border: none;
    margin-top: 60px;
    font-size: 18px;
}



}